.depot_form fieldset {
    background: #efe;
}

.depot_form legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.depot_form form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

/*.depot_form input {
  vertical-align: middle;
}*/

.depot_form select, textarea, input {
  margin-left: 0.5em;
  /*margin-bottom: 20px;*/
}

.depot_form.submit {
  margin-left: 4em;
}

.depot_form br {
  display: none
}

.depot_form .aligned {
  /*border: 1px solid navy;*/
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 20px;
}

.container {
  border: 1px solid navy;
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}